<%= link_to "Home", "/" %>
<%= link_to "Create an event", "/events/new"%>
<%= link_to "Attend an event", "/user_events/new"%>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<h1><%= "#{@user.email}'s created events" %></h1>

<ul>
  <% @user.events.each do |event| %>
    <li>
      <%= link_to event.name, "/events/#{event.id}" %>
    </li>
  <% end %>
</ul>

<h2>Attended events</h2>

<h3>Past events</h3>
<% @past_events = @user.attended_events.where(event_date: (..(Time.now)))%>
<% @past_events.each do |event| %>
  <li>
    <%= link_to event.name, "/events/#{event.id}" %>
  </li>
<% end %>

<h3>Future events</h3>
<% @future_events = @user.attended_events.where(event_date: ((Time.now)..))%>
<% @future_events.each do |event| %>
  <li>
    <%= link_to event.name, "/events/#{event.id}" %>
  </li>
<% end %>
