<% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div>
  <%= link_to "My events", "/users/#{current_user.id}"%>
  <%= link_to "Create an event", "/events/new"%>
  <%= link_to "Attend an event", "/user_events/new"%>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Events created</h1>

<h2>Past events</h2>

<ul>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to event.name, "events/#{event.id}" %>
    </li>
  <% end %>
</ul>

<h2>Future events</h2>
<ul>
  <% @future_events.each do |event| %>
    <li>
      <%= link_to event.name, "events/#{event.id}" %>
    </li>
  <% end %>
</ul>
