<%= link_to "Home", "/" %>
<%= link_to "My events", "/users/#{current_user.id}"%>
<%= link_to "Create an event", "/events/new"%>
<%= link_to "Attend an event", "/user_events/new"%>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<h1>Event details</h1>

<h2>Title</h2>
<p><%= @event.name %></p>

<h2>Created by</h2>
<p><%= @event.creator.email %></p>

<h3>Location</h3>
<p><%= @event.location %></p>

<h3>Date</h3>
<p><%= @event.event_date %></p>

<h4>Attendees<h4>
<ul>
  <% @event.attendees.each do |attendee| %>
  <li><%= link_to attendee.email, "/users/#{attendee.id}" %></li>
  <% end %>
</ul>
